@import 'utils/all';

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: $obj-font-ptsans;
    position: relative;
    background-color:#444;
}

.sdb-app-loader {
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

body.app-loading {
    .sdb-app-loader {
        display: flex;
    }

    sdb-app {
        display: none;
    }
}