
$obj-color-black: #000000;
$obj-color-white: #FFFFFF;
$obj-color-dark-smoke: #555555;
$obj-color-smoke: #8E8E8E;
$obj-color-dark-snow: #E5E5E5;
$obj-color-snow: #F5F5F5;
$obj-color-red: #E72915;
$obj-color-dark-red: #AA0000;
$obj-color-light-red: #FF8C80;
$obj-color-pink: #EE3771;
$obj-color-dark-pink: #BE175E;
$obj-color-light-pink: #F290B1;
$obj-color-blue: #5DAFFF;
$obj-color-dark-blue: #167ABC;
$obj-color-light-blue: #B5E5FB;
$obj-color-green: #53B873;
$obj-color-dark-green: #15955A;
$obj-color-light-green: #9DCB6A;
$obj-color-yellow: #FFCF0F;
$obj-color-dark-yellow: #E2AE33;
$obj-color-light-yellow: #FCE196;
$obj-color-orange: #FA6A01;
$obj-color-dark-orange: #E64E29;
$obj-color-light-orange: #FFB25D;

$obj-color-error: $obj-color-red;
$obj-color-success: $obj-color-green;
$obj-color-warning: $obj-color-yellow;
