# compiled output
dist
tmp
out-tsc
target
/data
/bin/

# dependencies
node_modules
bower_components
src/main/resources/static/bower_components
drivers

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.tmp
.idea
.factorypath

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
db2.*

# configs
application-dev.yaml
application-liferay.properties
application-liferay.yaml
application-uat.properties
application-uat.yml
taskboard.iml

# generated test resources
.attach_pid*
testbed
rootDataTest
