node_modules
dist
bower_components
.tmp
.settings
.project
.classpath
.idea
.factorypath
target
src/main/resources/static/bower_components
/bin/
taskboard.iml
drivers
db2.*
application-dev.yaml
application-liferay.properties
application-liferay.yaml
application-uat.properties
application-uat.yml
testbed
data
rootDataTest
