@mixin obj-dropdown-generator($wrapper-position, $wrapper-style, $option, $option-hover, $option-label, $option-icon, $wrapper-top:null) {
    #{$wrapper-position} {
        min-width: 80px;
        width: 100%;
        top: 100%;
        left: 0;
        position: absolute;
    }

    #{$wrapper-style} {
        @include obj-border-box-radius;
        @include obj-shadow-small;
        background: $obj-color-white;
        width: 100%;
        max-height: 240px;
        padding: 8px 0;
        margin: 4px 0;

        #{$option} {
            height: 24px;
            padding: 0 16px;
            color: $obj-color-dark-smoke;
            display: flex;
            align-items: center;
            font-size: 12px;
        }

        #{$option-hover} {
            background: rgba($obj-color-dark-snow, .4);
        }

        #{$option-label} {
            @extend %_obj_text_ellipsis;
        }
    }

    @if $wrapper-top {
        #{$wrapper-top} {
            top: auto;
            bottom: 100%;
        }
    }
}

ng-dropdown-panel.ng-dropdown-panel {
    @include obj-dropdown-generator("&", ".ng-dropdown-panel-items", ".ng-option", ".ng-option-marked", ".ng-option-label", ".ng-option-icon", "&.ng-select-top")
}
