/* PT Sans */

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'),
    url('/assets/fonts/pt-sans-v9-latin-regular.woff2') format('woff2'),
    url('/assets/fonts/pt-sans-v9-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    src: local('PT Sans Italic'), local('PTSans-Italic'),
    url('/assets/fonts/pt-sans-v9-latin-italic.woff2') format('woff2'),
    url('/assets/fonts/pt-sans-v9-latin-italic.woff') format('woff');
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Bold'), local('PTSans-Bold'),
    url('/assets/fonts/pt-sans-v9-latin-700.woff2') format('woff2'),
    url('/assets/fonts/pt-sans-v9-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'),
    url('/assets/fonts/pt-sans-v9-latin-700italic.woff2') format('woff2'),
    url('/assets/fonts/pt-sans-v9-latin-700italic.woff') format('woff');
}

/* PT Sans Caption */

@font-face {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans Caption'), local('PTSans-Caption'),
    url('/assets/fonts/pt-sans-caption-v10-latin-regular.woff2') format('woff2'),
    url('/assets/fonts/pt-sans-caption-v10-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Caption Bold'), local('PTSans-CaptionBold'),
    url('/assets/fonts/pt-sans-caption-v10-latin-700.woff2') format('woff2'),
    url('/assets/fonts/pt-sans-caption-v10-latin-700.woff') format('woff');
}
