$obj-input-padding: 0 16px;

@mixin obj-input-generator($input, $disabled, $readonly, $focused, $valid, $invalid, $dirty) {

    #{$input} {
        @include obj-border-box-radius;
        border: 1px solid $obj-color-dark-snow;
        width: 100%;
        height: 32px;
        padding: 0 16px;
        font-family: $obj-font-ptsans;
        font-size: 12px;
        color: $obj-color-black;
        box-sizing: border-box;
        background: $obj-color-white;
        display: inline-block;
    }

    #{$disabled} {
        color: rgba($obj-color-black, 0.4);
        background-color: $obj-color-snow;
    }

    #{$readonly} {
        font-size: 14px;
        color: $obj-color-black;
        border: none;
        background-color: transparent;
        padding: 0;
    }

    #{$focused} {
        outline: none;
        border-color: $obj-color-blue !important;
        box-shadow: 0 0 0 2px rgba($obj-color-blue, 0.2) !important;
    }

    #{$valid} {
        border-color: $obj-color-success;
    }

    #{$invalid} {
        border-color: $obj-color-error;
    }

    #{$dirty} {
        border-color: $obj-color-dark-snow;
        background-color: rgba($obj-color-light-blue, 0.4);
    }
}

%_obj-input-base {
    @include obj-input-generator(
            "&",
            "&[disabled]",
            "&[readonly]",
            "&:not([readonly]):focus",
            "&.valid",
            "&.invalid",
            "&.ng-dirty:not(.invalid)");
}

.obj-text-field {
    @extend %_obj-input-base;
}

.obj-number-field-without-spin {
    @extend %_obj-input-base;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    &[type='number'] {
        -moz-appearance: textfield;
    }
}

.obj-search-field {
    @include obj-input-generator(
            "&",
            "&[disabled]",
            "&[readonly]",
            "&.obj-search-focused",
            "&.valid",
            "&.invalid",
            "&.search-dirty:not(.invalid)");

    & {
        display: flex;
        align-items: center;

        padding-left: 8px;
        padding-right: 8px;
    }

    .icon {
        flex: 0 0 auto;
        margin-right: 4px;
        color: $obj-color-dark-snow;
        pointer-events: none;
    }

    .text {
        flex: 1;

        border: none;
        background: transparent;
        padding: 0;
        margin: 0;
        height: 100%;

        font: inherit;

        &:focus {
            outline: none;
        }
    }

    .clear {
        flex: 0 0 auto;
        margin-left: 4px;

        cursor: pointer;
        color: $obj-color-smoke;
    }
}

.obj-select-field.ng-select {
    @include obj-input-generator(
            ".ng-select-container",
            "&.ng-select-disabled .ng-select-container",
            "&[readonly] .ng-select-container",
            "&.ng-select-focused:not([readonly]) .ng-select-container",
            "&.valid:not([readonly]) .ng-select-container",
            "&.invalid:not([readonly]) .ng-select-container",
            "&.select-dirty:not([readonly]):not(.invalid) .ng-select-container");

    @include obj-icon-small-clear-x-inserted("&:not([readonly]) .ng-clear-wrapper", "&:not([readonly]) .ng-clear", "&:hover:not([readonly]):not([disabled]) .ng-clear");

    @include obj-icon-small-arrow-down("&:not([readonly]) .ng-arrow-wrapper", "&:not([readonly]) .ng-arrow", "&:hover:not([readonly]):not([disabled]) .ng-arrow");

    &.ng-select-opened {
    }

    &.ng-select-focused  {
    }

    .ng-select-container {
        display: flex;
        align-items: center;

        &.ng-has-value {
            .ng-placeholder {
                display: none;
            }
        }
    }

    .ng-value-container {
        align-items: center;
    }

    .ng-placeholder {
        color: $obj-color-smoke;
        font-style: italic;
    }

    .ng-input {
        padding: $obj-input-padding;
    }
}
