@import 'obj-ds/utils/all';

:host {
    display: block;
}

.body {
    max-height: calc(100vh - 275px);
    overflow-y: auto;
    width: calc(100% + 16px);
    padding-right: 16px;
}

obj-expansion-panel:last-of-type {
    margin-bottom: 0px;
}

.obj-data-table.inline-input {
    td {
        height: auto;
        padding-top: 8px;
        padding-bottom: 8px;

        &.input {
            vertical-align: top;
        }

        obj-error-messages.has-messages {
            margin-top: 2px;
        }
    }
}

.from-base-cluster {
    font-size: 14px;
}

.small {
    font-family: $obj-font-ptsans;
    font-size: 12px;
    color: $obj-color-smoke;
}

.footer {
    padding-top: 16px;
    text-align: right;

    span {
        float: left;
        margin-left: 0px;
        margin-top: 10px;
    }

    > * {
        margin-left: 10px;
    }
}