<section class="tb-page-content">

    <h2 id="tb-page-title" class="obj-title-large title">
        Base Cluster
        <span class="separator"> &gt; </span>
        {{ baseClusterId ? baseClusterName : 'new' }}
    </h2>

    <div class="content">

        <obj-toolbar [title]="baseClusterName" [subtitle]="toolbarSubtitle">
            <button obj-flat-button (click)="recalculateCluster.open()">
                <obj-icon iconName="recalculate"></obj-icon>Recalculate
            </button>
        </obj-toolbar>

        <form #baseClusterForm="ngForm" (ngSubmit)="saveBaseCluster()" autocomplete="off" tbLeaveConfirmation>
            <label>Name</label>

            <input class="base-cluster-name-input"
                type="text"
                name="baseClusterName"
                objTextField
                [(ngModel)]="baseClusterName"
                #name="objTextField"
                required
                tbNotEmpty/>

            <obj-error-messages [for]="name">
                <obj-error-message error="notEmpty">Name is required.</obj-error-message>
            </obj-error-messages>

            <label>Items</label>

        </form>

        <tb-cluster-recalculate-modal
            #recalculateCluster
            modalTitle="Recalculate cluster"
            [selectableProjects]="projectNames"
            (result)="setChangesCandidates($event)"
            (errorEvent)="showErrorFormMessage($event)">
        </tb-cluster-recalculate-modal>

        <tb-cluster class="body-with-scroll"
            [clusterItems]="clusterItems"
            [changesCandidates]="changesCandidates"
            (saveEvent)="save($event)"
            (errorEvent)="handleError($event)">
        </tb-cluster>

        <div class="footer">
            <span class="small">(All values are in hours)</span>

            <button id="tb-cluster-back-to-project"
                type="button"
                obj-button
                routerLink="/base-cluster-search">
                Back to Search
            </button>

            <button id="tb-cluster-save"
                type="button"
                obj-button class="primary"
                (click)="emitBaseClusterFormSubmit()"
                [disabled]="this.canDeactivate()">
                Save
            </button>
        </div>

    </div>

    <obj-snackbar id="tb-base-cluster-snackbar" [control]="snackbar"></obj-snackbar>
</section>
