@import "../../../styles/obj-ds/utils/all";
@import "../../../styles/obj-ds/misc";

.base-cluster-name-input {
    margin-bottom: 10px;
    font-size: 12px;
}

.content {
    margin: 10px auto;
    background-color: $obj-color-white;
    border: 1px solid $obj-color-dark-snow;
    border-radius: 4px;
    padding: 24px 16px 24px 24px;
}

.footer {
    padding-top: 16px;
    text-align: right;

    > * {
        margin-left: 10px;
    }
}

input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    &[type='number']{
        -moz-appearance:textfield;
    }
}

obj-expansion-panel:last-of-type {
    margin-bottom: 0px;
}

label {
    font-family: "PT Sans", Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: $obj-color-smoke;
    margin-bottom: 10px;
    display:inline-block
}

.small {
    float: left;
    font-family: $obj-font-ptsans;
    font-size: 12px;
    color: $obj-color-smoke;
}

.tb-page-content {
    width: 900px;
    padding: 24px;
}

.title {
    margin-bottom: 16px;
}
