::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: $obj-color-dark-snow;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: $obj-color-smoke;
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: content-box;

    &:hover {
        background: $obj-color-dark-smoke;
        border: 4px solid transparent;
        background-clip: content-box;
    }
}
