@import 'utils/all';
@import 'reset';
@import 'obj-ds/main';
@import 'template';
@import 'spinner';
@import 'scrollbar';

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    color: $obj-color-black;
    font-family: $obj-font-ptsans;
}

.tb-app-loader {
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

body.app-loading {
    .tb-app-loader {
        display: flex;
    }

    tb-app {
        display: none;
    }
}
