$obj-input-padding: 0 16px;

@mixin obj-input-generator($input, $disabled, $readonly, $focused, $valid, $valid-focused, $invalid, $invalid-focused) {

    #{$input} {
        @include obj-border-box-radius;
        border: 1px solid $obj-color-dark-snow;
        height: 32px;
        padding: 0 16px;
        font-family: $obj-font-ptsans;
        font-size: 12px;
        color: $obj-color-black;
        box-sizing: border-box;
        background: $obj-color-white;
    }

    #{$disabled} {
        color: rgba($obj-color-black, 0.4);
        background-color: $obj-color-snow;
    }

    #{$readonly} {
        font-size: 14px;
        color: $obj-color-black;
        border: none;
        background-color: transparent;
        padding: 0;
    }

    #{$focused} {
        outline: none;
        border-color: $obj-color-blue;
        box-shadow: 0 0 0 2px rgba($obj-color-blue, 0.2);
    }

    #{$valid} {
        border-color: $obj-color-success;
    }

    #{$valid-focused} {
        border-color: $obj-color-success;
        box-shadow: 0 0 0 2px rgba($obj-color-success, 0.2);
    }

    #{$invalid} {
        border-color: $obj-color-error;
    }

    #{$invalid-focused} {
        border-color: $obj-color-error;
        box-shadow: 0 0 0 2px rgba($obj-color-error, 0.2);
    }
}

%_obj-input-base {
    @include obj-input-generator(
            "&",
            "&[disabled]",
            "&[readonly]",
            "&:not([readonly]):focus",
            "&.valid",
            "&.valid:not([readonly]):focus",
            "&.invalid",
            "&.invalid:not([readonly]):focus");
}

.obj-text-field {
    @extend %_obj-input-base;
}

.obj-select-field.ng-select {
    @include obj-input-generator(
            ".ng-select-container",
            "&.ng-select-disabled .ng-select-container",
            "&[readonly] .ng-select-container",
            "&.ng-select-focused:not([readonly]) .ng-select-container",
            "&.valid:not([readonly]) .ng-select-container",
            "&.ng-select-focused.valid:not([readonly]) .ng-select-container",
            "&.invalid:not([readonly]) .ng-select-container",
            "&.ng-select-focused.invalid:not([readonly]) .ng-select-container");

    @include obj-icon-small-clear-x-inserted("&:not([readonly]) .ng-clear-wrapper", "&:not([readonly]) .ng-clear", "&:hover:not([readonly]):not([disabled]) .ng-clear");

    @include obj-icon-small-arrow-down("&:not([readonly]) .ng-arrow-wrapper", "&:not([readonly]) .ng-arrow", "&:hover:not([readonly]):not([disabled]) .ng-arrow");

    &.ng-select-opened {
    }

    &.ng-select-focused  {
    }

    .ng-select-container {
        align-items: center;

        &.ng-has-value {
            .ng-placeholder {
                display: none;
            }
        }
    }

    .ng-value-container {
        align-items: center;
    }

    .ng-placeholder {
        color: $obj-color-smoke;
        font-style: italic;
    }

    .ng-input {
        padding: $obj-input-padding;
    }
}
