%_obj_text_ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.obj-empty {
    font-size: 14px;
    text-align: center;
}

.obj-error-message {
    font-size: 12px;
    line-height: 16px;
    color: $obj-color-error;
    display: block;
}
