<tb-cluster [clusterItems]="clusterItems"
    (saveEvent)="save($event)" (errorEvent)="showErrorFormMessage($event)">
</tb-cluster>

<div class="footer">
    <div class="footer-caption">
        <p class="small">(All the numbers are in hours)</p>
        <p class="small" *ngIf="hasBaseCluster">* Base cluster</p>
    </div>
    <button type="button" id="tb-project-cluster-back-to-project" obj-button (click)="backToProject()">Back to Project</button>
    <button type="button" id="tb-project-cluster-save" (click)="callSaveOfClusterComponent()" [disabled]="this.clusterComponent.isPristine()" obj-button class="primary">Save</button>
</div>

<obj-snackbar id="tb-project-cluster-snackbar" [control]="snackbar"></obj-snackbar>
