<obj-toolbar title="Project cluster - {{projectKey}}" [subtitle]="toolbarSubtitle">
    <button obj-flat-button (click)="recalculateCluster.open()">
        <obj-icon iconName="recalculate"></obj-icon>Recalculate
    </button>
</obj-toolbar>

<tb-cluster-recalculate-modal
    #recalculateCluster
    modalTitle="Recalculate project cluster"
    [projects]="[projectKey]"
    (result)="setChangesCandidates($event)"
    (errorEvent)="showErrorFormMessage($event)">
</tb-cluster-recalculate-modal>

<tb-cluster class="body-with-scroll"
    [clusterItems]="clusterItems"
    [changesCandidates]="changesCandidates"
    (saveEvent)="save($event)"
    (errorEvent)="showErrorFormMessage($event)">
</tb-cluster>

<div class="footer">
    <div class="footer-caption">
        <p class="small">(All the numbers are in hours)</p>
        <p class="small" *ngIf="hasBaseCluster">* Base cluster</p>
    </div>
    <button type="button" id="tb-project-cluster-back-to-project" obj-button (click)="backToProject()">Back to Project</button>
    <button type="button" id="tb-project-cluster-save" (click)="callSaveOfClusterComponent()" [disabled]="this.clusterComponent.isPristine()" obj-button class="primary">{{changesCandidates.length === 0 ? 'Save' : 'Apply Selected'}}</button>
</div>

<obj-snackbar id="tb-project-cluster-snackbar" [control]="snackbar"></obj-snackbar>
