@import 'obj-ds/utils/all';

:host {
    display: block;
}

.footer {
    display: flex;
    padding-top: 16px;
    align-items: center;

    .footer-caption {
        flex: 1;
        margin-left: 0;
    }

    > * {
        margin-left: 10px;
    }
}

.small {
    font-family: $obj-font-ptsans;
    font-size: 12px;
    color: $obj-color-smoke;
    line-height: 14px;
}

.body-with-scroll {
    max-height: calc(100vh - 309px);
    overflow-y: auto;
    width: calc(100% + 16px);
    padding-right: 16px;
}
