@CHARSET "UTF-8";
issue-detail paper-autocomplete-suggestions paper-item.active {
    background-color: #B5E8FF !important;
}

issue-detail :host * {
    font-family: 'ptsans-regular', Verdana, Arial, Helvetica, sans-serif;
}

issue-detail .subtask--status {
    border-radius: 5px;
    color: white;
    height: 24px;
    font-size: 12px;
    padding-left: 8px;
    padding-right: 8px;
}

issue-detail .subtask--status span {
    display: inline-block;
    margin: auto;
}

issue-detail paper-material.subtask-panel:first-child {
    border-top: 1px solid #EFEFEF;
    margin-top: 0;
}

issue-detail .content-box {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    margin-bottom: 24px;
}

 issue-detail .people--separator {
     height: 0px;
     margin-top: 32px;
     border: 1px none #8e8e8e;
     border-top-style: solid;
 }

 issue-detail .project-title {
     color: #8E8E8E;
 }

 issue-detail .transitions-row {
     display: flex;
     align-items: center;
     font-size: 12px;
     margin-bottom: 24px;
 }

 issue-detail .card-header-custom {
     width: 100%;
     font-size: 24px;
     display: flex;
     background-color: #555555;
     padding: 24px;
     border-radius: 4px 4px 0px 0px;
 }

 issue-detail .card-header-info {
     flex: 1;
 }

 issue-detail .card-header-breadcrumb {
     font-size: 10px;
     line-height: 14px;
 }

 issue-detail .arrow {
     margin: 0 5px;
 }

 issue-detail .card-header-title {
     min-width: initial;
     margin: 0px;
     padding: 0px;
     font-weight: normal;
     display: flex;
 }

 issue-detail .card-header-title .card-name-wrapper {
     font-size: 16px;
     line-height: 21px;
     width:calc(100% - 40px);
     display: flex;
     align-items:center;
     font-family: 'ptsans-caption-bold', Verdana, Arial, Helvetica, sans-serif;
     color: #F5F5F5;
 }

 issue-detail .card-summary-wrapper {
     cursor:text;
     display:flex;
     padding-left:5px;
     margin-left:5px;
     border:1px solid transparent;
     line-height:21px;
     height:24px;
     border-radius:5px;
 }

 issue-detail .card-summary-wrapper.edit-summary-wrapper {
     flex-grow:1;
     justify-content:space-between;
 }

 issue-detail .card-summary-wrapper .card--icons-wrapper paper-button {
     display:none;
 }

 issue-detail .card--icons-wrapper paper-button {
     text-align:center;
     margin:0;
     padding:0;
     min-width:24px;
     height:23px;
     border-top-left-radius:0;
     border-bottom-left-radius:0;
 }

 issue-detail .card-summary-wrapper.edit-summary-wrapper .card--icons-wrapper paper-button {
     min-width:18px;
     color:#8E8E8E;
     padding:0;
 }

 issue-detail .card--icons-wrapper iron-icon {
     width:16px;
     height:16px;
 }

 issue-detail .card--icons-wrapper paper-button.card-name__edit-button {
     margin-left:5px;
     background-color:#8E8E8E;
 }

 issue-detail .card-summary-wrapper:hover,
 issue-detail .card-summary-wrapper.edit-summary-wrapper {
     border-color:#999;
 }

 issue-detail .card-summary-wrapper.view-summary-wrapper:hover .card--icons-wrapper .card-name__edit-button,
 issue-detail .card-summary-wrapper.edit-summary-wrapper .card--icons-wrapper paper-button {
     display:inline-flex;
 }

 issue-detail .card-summary-wrapper.edit-summary-wrapper .card-summary-field {
     font-family:'ptsans-regular', Verdana, Arial, Helvetica, sans-serif;
     font-size:16px;
     line-height:21px;
     width: calc(100% - 45px);
     border: 0;
     background-color: transparent;
     color: #fff;
     outline: none;
 }

 issue-detail .sub-content {
     font-size: 14px;
 }

 issue-detail paper-button {
     margin-bottom: 12px;
     text-transform: none;
 }

 issue-detail .card-header-buttons {
     padding: 0;
     margin-top: auto;
     margin-bottom: auto;
 }

 issue-detail .icon-text {
     display: flex;
     align-items: center;
 }

 issue-detail .icon-text .icon {
     margin-right: 5px;
     filter: initial;
     bottom: initial;
 }

 issue-detail paper-button.transition-button {
     border-right: 1px solid #E5E5E5;
     border-top: 1px solid #E5E5E5;
     border-bottom: 1px solid #E5E5E5;
     padding: 4px 16px;
     margin: 0px;
     font-size: 12px;
     border-radius: 0px;
     text-transform: none;
     height: 32px;
 }

 issue-detail paper-button.current-status {
     background-color: #E27323;
     color: white;
     cursor: default;
 }

 issue-detail paper-button.transition-button:first-of-type {
     border-top-left-radius: 5px !important;
     border-bottom-left-radius: 5px !important;
     border-left: 1px solid #E5E5E5;
 }

 issue-detail paper-button.transition-button:last-of-type {
     border-top-right-radius: 5px !important;
     border-bottom-right-radius: 5px !important;
 }

 issue-detail .block-button-container {
     display: flex;
     margin-left: 16px;
     margin-right: 8px;
 }

 issue-detail .block-button {
     cursor: pointer;
 }

 issue-detail paper-button[toggles] {
     transition: all 0.3s;
 }

 issue-detail paper-button[toggles][active] {
     background-color: rgba(0, 0, 0, 0.25);
 }

 issue-detail #parent-card-name {
     font-weight: 600;
     margin: 0px;
     padding: 0px;
     text-align: left;
     color: #5DAFFF;
 }

 issue-detail paper-material.subtask-panel {
     display: flex;
     border-bottom: 1px solid #EFEFEF;
     padding: 8px;
 }
 issue-detail paper-material.subtask-panel > div {
     display: flex;
     margin-top: auto;
     margin-bottom: auto;
 }
 issue-detail .subtasks--panel {
     width: 100%;
 }
 issue-detail .subtask--issue-type {
     width: 48px;
 }
 issue-detail .subtask--issue-type img {
     margin: auto;
 }
 issue-detail .subtask--issue-key {
     color: #5DAFFF;
     margin-right: 10px;
 }

 issue-detail paper-button.subtask-link {
     color: #5DAFFF;
     margin: 0 5px 0 0;
     padding: 0;
     display: inline;
 }

 issue-detail .subtask--summary {
     flex: 10;
 }

 issue-detail #timetracking_content {
     height: 40px;
 }

 issue-detail #modal {
     background: white;
     width: 1280px;
     margin: 0;
     display: block;
     border-radius: 5px;
     overflow-x: initial;
     overflow-y: initial;
 }

 issue-detail .button-close {
     min-width: auto;
     display: inline;
     padding: 0;
     margin: 0;
 }

 issue-detail .button-close iron-icon {
     width: 14px;
     height: 14px;
     color: #8E8E8E;
 }

 issue-detail .close-tshirt-bubble {
     min-width: auto;
     display: inline;
     padding: 0;
     margin: 0;
     color: #8E8E8E;
 }

 issue-detail .close-tshirt-bubble iron-icon {
     width: 10px;
     height: 10px;
 }

 issue-detail .icon img {
     display: block;
 }

 issue-detail .icon-small {
     width: 32px;
     height: 32px;
 }

 issue-detail .description-box {
     width: 100%;
     border: 1px solid #e5e5e5;
     margin-top: 16px;
     border-radius:4px;
     position:relative;
 }

 issue-detail .wrapper-edit {
     position:absolute;
     right:0;
     top:0;
     cursor:pointer;
     width: 20px;
     height: 100%;
     border-top-right-radius: 4px;
     border-bottom-right-radius: 4px;
     background-color: #e8e8e8;
     text-align:center;
     display:none;
 }

 issue-detail .description-box:hover .wrapper-edit {
     display:block;
 }

 issue-detail .description-box__field {
     text-align:left;
     resize:none;
     border-top:0;
     border-right:0;
     padding:10px;
     border-bottom:1px solid #E8E8E8;
     border-left:0;
     width:100%;
     height:20vh;
 }

 issue-detail .description-box__footer {
     padding:16px 24px;
     justify-content:flex-end;
     display:flex;
 }


issue-detail .wrapper-edit iron-icon {
     cursor:pointer;
     color:#8e8e8e;
     width:12px;
     height:12px;
 }

 issue-detail .description-box__footer paper-button.tb-button__default {
     margin-right:15px;
 }

 issue-detail .details-row.description-row {
     width: 100%;
     margin:0;
     cursor:text;
 }

 issue-detail .description-row--collapsed {
     overflow-y: hidden;
     max-height: 20vh;
     text-overflow: ellipsis;
 }
 issue-detail .description-row-no-description {
     font-style: italic;
     color: #8e8e8e !important;
 }
 issue-detail .description-row marked-element {
     padding:0 24px 0 8px;
     width: 100%;
 }

 issue-detail .descriptionShowMore {
     color: #5DAFFF;
     font-size: 12px;
     margin-top: 10px;
     margin-left: 10px;
     margin-bottom: 8px;
     cursor: pointer;
 }
 issue-detail .descriptionShowMore iron-icon {
     width: 8px;
     height: 8px;
     margin-bottom: 3px;
     display: inline-block;
 }
 issue-detail .upsideDown {
     transform: rotate(180deg);
 }

 issue-detail paper-spinner[aria-hidden=true] {
     display: none;
 }

 issue-detail .glasspane {
     position: absolute;
     left: 0px;
     width: 100%;
     height: 100%;
     background-color: rgba(197, 202, 233, 0.72);
     z-index: 1000;
     visibility: hidden;
     margin: 0;
     padding: 0;
     cursor: pointer;
 }

 issue-detail .glasspane span {
     font-size: 24px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 100%;
     text-align: center;
     line-height: 30px;
 }

 issue-detail .visible-glasspane {
     visibility: visible !important;
 }

 issue-detail .message-box {
     position: absolute;
     bottom: 25px;
     right: 25px;
     min-width: 182px;
     box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 4px;
     border-radius: 5px;
     padding: 8px;
 }
 issue-detail .message-box--error {
     background: #E72915;
 }

 issue-detail .message-box--updating {
     background: #E2AE33;
 }

 issue-detail .message-box__icon {
     flex: 0 0 auto;
     width: 14px;
     height: 14px;
     padding: 0;
     margin-top: auto;
     margin-bottom: auto;
 }

 issue-detail .message-box__icon[icon="error"] {
     color: white !important;
     width: 20px;
     height: 20px;
 }

 issue-detail .message-box__message {
     flex: 1;
     margin: 0;
     color: white;
     font-weight: normal;
 }

 issue-detail .message-box__close {
     flex: 0 0 auto;
     width: 20px;
     height: 20px;
     padding: 0;
     margin-top: auto;
     margin-bottom: auto;
     color: white;
 }

 issue-detail .tag {
     background-color: #666666;
     font-size: 12px;
     border-radius: 5px;
     color: white;
     padding: 2px 6px;
     display: flex;
     margin-right: 8px;
     white-space: nowrap;
     height: 2em;
     margin-top: 2px;
     margin-bottom: 2px;
 }

 issue-detail .invalid-assignee {
     background-color: #E2AE33;
 }
 issue-detail .invalid-assignee .assignee-button {
     color: white !important;
 }

 issue-detail .assignee span {
     display: inline-block;
     margin-right: 2px;
 }
 issue-detail .add-people-icon {
     width: 9px;
     height: 9px;
     margin: auto 2px;
 }
 issue-detail .restore-icon {
     width: 9px;
     height: 9px;
     margin: auto 3px;
 }
 issue-detail #assignToMe {
     margin-right: 8px;
 }

 issue-detail .people-action-link {
     cursor: pointer;
     color: #5DAFFF;
     font-size: 12px;
     display: flex;
     margin-top: 5px;
     margin-bottom: 5px;
 }

 issue-detail #restoreTeamButton {
     margin-left: 10px;
 }

 issue-detail .people-actions {
     display: flex;
     white-space: nowrap;
 }

 issue-detail .people-action-link span {
     margin: auto;
 }

 issue-detail .icon-tiny {
     width: 12px;
     height: 12px;
 }

 issue-detail .remove-button {
     width: 10px;
     height: 10px;
 }

 issue-detail .assignee-button {
     cursor: pointer;
     color: #8E8E8E;
     margin: auto 2px auto 5px;
 }

 issue-detail .default-team, issue-detail .team-by-issue-type {
     background-color: #8e8e8e !important;
     cursor: pointer;
 }

 issue-detail .default-team iron-icon, issue-detail .team-by-issue-type iron-icon {
     color: #e5e5e5 !important;
 }

 issue-detail .parent-team {
     background-color: #8e8e8e !important;
     cursor: pointer;
 }

 issue-detail .tshirt {
     background-color: #8e8e8e !important;
 }

 issue-detail .parent-team iron-icon,
 issue-detail .tshirt iron-icon {
     color: #e5e5e5 !important;
 }

 issue-detail #tshirt-selector {
     cursor:pointer;
 }

 issue-detail .people-picker,
 issue-detail .ballpark-picker {
     display: none;
     background-color: #666666;
     font-size: 12px;
     border-radius: 5px;
     color: white;
     padding-left: 6px;
     padding-right: 6px;
     white-space: nowrap;
     margin: 0px;
     height: 24px;
 }

 issue-detail .blocked {
     background-color: #FCE196;
     border-radius: 4px;
     padding: 16px;
     display: flex;
 }
 issue-detail .blocked iron-icon {
     margin-top: auto;
     margin-bottom: auto;
 }
 issue-detail .blocked span {
     margin-top: auto;
     margin-bottom: auto;
     margin-left: 10px;
     display: inline-block;
 }

 issue-detail .cancelled {
     background-color: #FCE196;
     border-radius: 4px;
     padding: 16px;
     display: flex;
 }
 issue-detail .cancelled iron-icon {
     margin-top: auto;
     margin-bottom: auto;
 }
 issue-detail .cancelled span {
     margin-top: auto;
     margin-bottom: auto;
     margin-left: 10px;
     display: inline-block;
 }

 issue-detail .panel-parent {
     display: flex;
     height: 60vh;
 }

 issue-detail .leftPanel {
     width: 64%;
     display: block;
     overflow-y: scroll;
     padding-right: 1em;
 }

 issue-detail .rightPanel {
     padding-left: 10px;
     width: 36%;
     display: inline-block;
 }

 issue-detail .subtitle {
     font-size: 16px;
     display: flex;
     margin-top: 32px;
     font-family: 'ptsans-caption-bold', Verdana, Arial, Helvetica, sans-serif;
     line-height: 22px;
 }

 issue-detail .subtitle:first-of-type {
     margin-top: 0px;
 }

 issue-detail .subtitle--slot1 {
     flex: 1;
     font-weight: bold;
 }

 issue-detail .subtasks--title {
     margin-bottom: 12px;
 }

 issue-detail .tshirtSizesView {
     font-size: 12px;
     color: #5DAFFF;
     display: flex;
 }

 issue-detail .tshirtSizesView * {
     cursor: pointer;
 }

 issue-detail .tshirtSizesView label {
     margin-top: auto;
     margin-bottom: auto;
     margin-left: 5px;
 }

 issue-detail .subsubtitle {
     margin-bottom: 8px;
     font-size: 14px;
     font-weight: bold;
 }

 issue-detail .details-row {
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     margin: 16px 0px;
 }

 issue-detail .tshirt-bubble {
     display: none;
     border-radius: 5px;
     border: 1px solid #E3E3E3;
     width: 200px;
     position: absolute;
     margin-left: 90px;
     padding: 10px;
     background-color: white;
     z-index: 1000;
     -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
     -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
     box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
 }

 issue-detail .tshirt-bubble-arrow {
     background-color: white;
     box-shadow: -1px 1px 1px 0 rgba( 0, 0, 0, .25);
     content: "\00a0";
     display: block;
     height: 10px;
     left: -5px;
     position: absolute;
     top: 50%;
     transform:             rotate( 45deg );
         -moz-transform:    rotate( 45deg );
         -ms-transform:     rotate( 45deg );
         -o-transform:      rotate( 45deg );
         -webkit-transform: rotate( 45deg );
     width: 10px;
 }

 issue-detail .tshirt-line {
     border-bottom: 1px solid #E3E3E3;
     font-size: 12px;
     color: #555555;
     display: flex;
     padding-top: 8px;
     padding-bottom: 8px;
 }
 issue-detail .tshirt-label {
     flex: 1;
 }
 issue-detail .tshirt-label--header {
     font-size: 14px;
     font-weight: bold;
     padding-top: 0px;
 }
 issue-detail .details-column {
     flex: 1
 }
 issue-detail .text {
     font-size: 14px;
 }
 issue-detail #class-of-service-value,
 issue-detail #tshirt-value {
     float:left;
     border-radius: 5px;
     padding: 0px 6px;
     white-space: nowrap;
     display: flex;
     height:24px;
     line-height:24px;
     margin:0;
 }

 issue-detail .class-of-service-value__wrapper {
     display:flex;
 }

 issue-detail .class-of-service-value__wrapper .assignee-button {
     display:none;
 }

 issue-detail .class-of-service-value__wrapper:hover .assignee-button {
     display:block;
 }

 issue-detail .class-of-service-value__wrapper,
 issue-detail #tshirt-value,
 issue-detail #class-of-service-selector {
     cursor:pointer;
 }

 issue-detail .hidden-section {
     display: none;
 }
 issue-detail .button-open-jira {
     min-width: auto;
     padding: 0px 5px 0px 0px;
     margin: 0px 0px 0px 0px;
 }
 issue-detail .button-open-jira iron-icon {
     width: 16px;
     height: 16px;
     color: #8E8E8E;
     top: -1px;
 }

