
@mixin obj-icon-size($size, $margin) {
    & > .icon-container {
        width: $size;
        height: $size;
        padding: $margin;

        & > svg {
            width: $size - ($margin * 2);
            fill: currentColor;
        }
    }
}

%obj-icon-small {
    @include obj-icon-size(16px, 3px);
}

%obj-icon-medium {
    @include obj-icon-size(24px, 3px);
}

%obj-icon-large {
    @include obj-icon-size(32px, 4px);
}

%obj-icon-extra-large {
    @include obj-icon-size(48px, 5px);
}
