@import "utils/all";

:host {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);

    opacity: 0;
    pointer-events: none;
    transition: .4s opacity ease;

    &.open {
        pointer-events: initial;
        opacity: 1;
    }
}
